<div class="row">
  <%= render partial: "basic_info", locals: {basic_info: @basic_info, starred_repos: @starred_repos} %>

  <%= render partial: "repo_summary", locals: {repos: @repos} %>

  <%= render partial: "activity", locals: {user_activity: @user_activity} %>
</div>

<div class="row">
  <div class="col-md-5 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Create New Repo</h3>
      </div>

      <div class="panel-body text-center">
        <%= link_to "Create Repository", new_dashboard_repo_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
